
* {
    font-family: 'Raleway';
}

body {
    background: lightgray;
    padding-top: 0;
    margin: 0;
}

main {
    max-width: 600px;
    margin: auto;
    background: white;
    text-align:center;
    padding:30px;
}

h1 {
    font-size: 3em;
}

footer {
  margin-top: 20px;  
}


.bit-container {
    max-width: 400px;
    display:grid; 
    margin:auto;
    grid-template-columns: 100px auto; 
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    font-size: 1.2em;
}


.box {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
}

.box-content {
    display: inline;
    font-size: 24px;
    font-weight: bold;
}

.bit-on {
    background: black;
    color: white;        
}

.row-head {
    text-align: right;
}

#instructions {
    background: #eee;
    text-align: left;
    padding: 10px;
}
